@model IEnumerable<MVC.Azure.Demo.Models.Admin.ImageModel>

@{
    ViewData["Title"] = "IndexAsync";
}

<h1>IndexAsync</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>
            *
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Extention)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@item.url" width="50" height="50"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Extention)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
        </tr>
}
    </tbody>
</table>
